body {
  text-align: center; }

h1 {
  font-size: 30px; }

#container {
  background: #f1f1f1;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px; }

#current-time {
  margin: 0 auto 30px auto; }

#clock-container {
  text-align: center; }
